body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff86c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background: rgb(255, 71, 71);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(53, 137, 255, 0.728);
}

button {
    background-color: #58ffbc;
    color: rgb(93, 79, 255);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s;
}

button:hover {
    background-color: #ef5dff;
}

.hidden {
    display: none;
}

#message {
    margin-top: 15px;
    color: #f7ff60;
    font-weight: bold;
}