body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fffb91;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background: rgb(255, 212, 212);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(67, 145, 255, 0.728);
}

button {
    background-color: #ff5858;
    color: rgb(255, 152, 152);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s;
}

button:hover {
    background-color: #f383ff;
}

.hidden {
    display: none;
}

#message {
    margin-top: 15px;
    color: #adffc0;
    font-weight: bold;
}