body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #5c5900;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background: rgb(70, 0, 0);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 34, 81, 0.728);
}

button {
    background-color: #005231;
    color: rgb(8, 0, 77);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s;
}

button:hover {
    background-color: #3b0041;
}

.hidden {
    display: none;
}

#message {
    margin-top: 15px;
    color: #636a00;
    font-weight: bold;
}